<% provide(:title, "アクセス") %>

<script type="text/javascript">
// 初期表示時処理
$(document).ready(function(){
});
</script>
<form id="frmAccess" action="<?php print($_SERVER['PHP_SELF']) ?>" method="post">
	<input type="hidden" id="hdnTrans" name="hdnTrans"/>
	<div id="divHeader">
        <!--ヘッダー-->
				<%= render 'shared/includeHeader' %>
    </div>
    <div id="divNav">
        <!--ナビゲーション-->
				<%= render 'shared/includeNav' %>
    </div>
    <div id="divSearch">
        <!--空室検索-->
        <hr>
				<%= render 'shared/includeSearch' %>
    </div>
    <div id="divContents">
    	<div id="divContentsMain">
        	<div id="divImgNightView">
                <div id="divTitleBack">
                	<div id="divTitle">
										<%= image_tag 'lblAccess.png' , :alt => 'アクセス', :size => '72x17' %>
                  </div>
                </div>
            </div>
            <hr />
            <div id="divTrain">
                <div id="divImgLblTrain">
										<%= image_tag 'lblTrain.png' , :alt => '電車でお越しのお客様', :size => '272x21' %>
                </div>
                <div id="divImgTrainMap">
										<%= image_tag 'imgTrainMap.png' , :alt => '路線図', :size => '794x652' %>
                </div>
            </div>
            <div id="divMap">
            	<div id="divOte">
                    <div id="divImgLblOte">
												<%= image_tag 'lblOtemachi.png' , :alt => 'PLACID 大手町', :size => '212x21' %>
                    </div>
                    <div id="divImgOteMap">
												<%= image_tag 'imgOtemachiMap.png' , :alt => '大手町地図', :size => '387x361' %>
                    </div>
                </div>
                <div id="divKudan">
                    <div id="divImgLblKudan">
												<%= image_tag 'lblKudanshita.png' , :alt => 'PLACID 九段下', :size => '212x21' %>
                    </div>
                    <div id="divImgKudanMap">
												<%= image_tag 'imgKudanshitaMap.png' , :alt => '九段下地図', :size => '387x361' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divFooter">
        <!--フッター-->
        <?php include("../contents/includeFooter.php"); ?>
    </div>
</form>
